<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='login.js') }}" defer></script>
    <title>Image and JSON Upload</title>
</head>
<body>

    <h1>Register</h1>

    <form id="uploadForm" enctype="multipart/form-data">
        <!-- JSON data fields -->
        <label for="username">Username:</label>
        <input type="text" id="username" required>
        <br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" required>
        <br><br>

        <button type="button" onclick="login()">Log in</button>
    </form>

</body>
</html>
